<div class="row mt-2">
  <div class="col-5">
    <h4>Отправить новое сообщение</h4>

    <form (ngSubmit)="addMessage()" #f="ngForm">
      <div class="form-group">
        <label for="author">Author</label>
        <input
          type="text"
          name="author"
          id="author"
          class="form-control"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea
          name="message"
          id="message"
          class="form-control"
          ngModel
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="isUploading"
      >
        <span>
          Add
        </span>
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>
