<div class="card text-white bg-dark m-3" style="max-width: 18rem;">
  <div class="card-header">Author: {{ message.author }}</div>
  <div class="card-body">
    <h5 class="card-title">Message: {{ message.message }}</h5>
    <p class="card-text">Date: {{ message.datetime }}</p>
  </div>
</div>
