<div class="d-flex flex-wrap" *ngIf="!isFetching; else loading">
  <app-message
    *ngFor="let message of messages"
    [message]="message"
  ></app-message>
</div>
<ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
</ng-template>
